/*
 * Put your custom CSS code here
 */
 body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('images/home.0.gif') url('images/home.1.gif') url('images/butik.0.png') url('images/butik.1.png') url('images/blog.0.png') url('images/blog.1.png') url('images/kontakt.0.png') url('images/kontakt.1.png') url('images/persongalleri.0.png') url('images/persongalleri.1.png');
 }

 .comic {
    font-family: "Shantell Sans", cursive;
    font-style: normal;
    position: relative;
}
 

.forside-link {
    position: relative;

    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
  

    background-image: url('images/logo.gif');
}

.forside-link:hover {
    cursor: pointer;

}* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;

  animation: fadeInAnimation ease 2s 5s forwards;
  animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.forside-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}


.butik-link {
    position: relative;


    background-repeat: no-repeat;
    background-size: contain;

    background-position: center center;



    background-image: url('images/butik.0.png');
}

.butik-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

.butik-link:hover {
    cursor: pointer;
    background-image: url('images/butik.1.png');
}


.persongalleri-link {
    position: relative;


    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;


    background-image: url('images/persongalleri.0.png');
}

.persongalleri-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

.persongalleri-link:hover {
    cursor: pointer;
    background-image: url('images/persongalleri.1.png');
}
.kontakt-link {
    position: relative;


    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;



    background-image: url('images/kontakt.0.png');
}

.kontakt-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

.kontakt-link:hover {
    cursor: pointer;
    background-image: url('images/kontakt.1.png');
}

.blog-link {
    position: relative;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;


    background-image: url('images/blog.0.png');
}

.blog-link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}

.blog-link:hover {
    cursor: pointer;
    background-image: url('images/blog.1.png');
}


